{% extends "base.html" %}

{% block content %}


<div class="container">
    <h1 class="title">{{title}}</h1>

    {% if current_user.is_authenticated and current_user.user_type_id == 1 %}

    <form class="form-horizontal" method="post" action="">
        {{ form.hidden_tag() }}
        {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}


        <div class="form-group">
            <label class="sr-only">{{ form.category_id.label }}</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                    </div>
                </div>
                {{ form.category_id(class="form-control", type="form-id", id="id",
                placeholder="Enter ID") }}
                {% for error in form.category_id.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>


        <div class="form-group">
            <label class="sr-only">{{ form.name.label }}</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                    </div>
                </div>
                {{ form.name(class="form-control", type="form-name", id="name",
                placeholder="Enter category Name") }}
                {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>



        <div class="form-group ">
            {{ form.submit(type="submit", class="btn btn-primary btn-block btn-lg login-button") }}
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
