{% extends "base.html" %}

{% block content %}


<div class="container">
    <div class="row main">
        <div class="main-login main-center">
            <h1 class="title">Авторизация</h1>
            <form class="form-horizontal" method="post" action="">
                {{ form.hidden_tag() }}
                <div class="alert alert-danger">{{ message }}</div>
                <div class="form-group">
                    <label for="username" class="cols-sm-2 control-label">{{ form.login.label }}</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-users" aria-hidden="true"></i></span>
                            {{ form.login(class="form-control", type="form-control", id="login",
                            placeholder="Enter your Login") }}
                            {% for error in form.login.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="password" class="cols-sm-2 control-label">{{ form.password.label }}</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                            {{ form.password(class="form-control", id="password", type="password",
                            placeholder="Enter your Password") }}<br>
                            {% for error in form.password.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="remember_me" class="cols-sm-2 control-label">{{ form.remember_me.label }}</label>
                    <div class="cols-sm-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user-plus fa" aria-hidden="true"></i></span>
                               &nbsp;&nbsp;&nbsp;&nbsp; {{ form.remember_me() }}<br>
                            {% for error in form.password.errors %}
                            <p class="alert alert-danger" role="alert">
                                {{ error }}
                            </p>
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="form-group ">
                    {{ form.submit(type="submit", class="btn btn-primary btn-block btn-lg login-button") }}
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
