{% extends "base.html" %}

{% block content %}


<div class="container align-text-bottom">
    <div class="row main align-text-bottom">
        <div class="main-login">
            <br>
            <div class="card-header align-text-bottom">
                Авторизация
            </div>
            <br>
            <form class="form-horizontal" method="post" action="">
                {{ form.hidden_tag() }}
                {% if message %}
                    <div class="alert alert-danger">{{ message }}</div>
                {% endif %}

                <label class="sr-only" for="inlineFormInputGroup">{{ form.login.label }}</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    {{ form.login(class="form-control", type="form-control", id="login",
                    placeholder="Enter your Login") }}
                    {% for error in form.login.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>

                <label class="sr-only" for="inlineFormInputGroup">{{ form.password.label }}</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </div>
                    </div>
                    {{ form.password(class="form-control", id="password", type="password",
                    placeholder="Enter your Password") }}<br>
                    {% for error in form.password.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                    {% endfor %}
                </div>

                <label class="sr-only" for="inlineFormInputGroup">{{ form.remember_me.label }}</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-user-plus fa-align-center" aria-hidden="true"></i>
                        </div>
                        <div class="input-group-text">
                        &nbsp;&nbsp;&nbsp;&nbsp;{{ form.remember_me() }}
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    {{ form.submit(type="submit", class="btn btn-primary btn-block btn-sm login-button") }}
                </div>

            </form>
        </div>
    </div>
</div>

{% endblock %}
