{% extends "base.html" %}

{% block body %}
<body class="hold-transition">
{% endblock %}


{% block content %}

<!--https://www.tiny.cloud/docs/demo/basic-example/-->
<div class="container">
    <h1 class="title">{{title}}</h1>

    {% if current_user.is_authenticated and current_user.user_type_id == 1 %}

    <form class="form-horizontal" method="post" action="">
        {{ form.hidden_tag() }}
        {% if message %}
        <div class="alert alert-danger">{{ message }}</div>
        {% endif %}


        <div class="form-group">
            <label class="sr-only">{{ form.title.label }}</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-hashtag" aria-hidden="true"></i>
                    </div>
                </div>
                {{ form.title(class="form-control", type="form-title", id="title",
                placeholder="Enter News title") }}
                {% for error in form.title.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>


        <div class="form-group">
            <label class="sr-only">{{ form.content.label }}</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                    </div>
                </div>
                {{ form.content(class="form-control", type="form-content", id="content",
                placeholder="Enter your content") }}
                {% for error in form.content.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only">{{ form.category.label }}</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-align-justify" aria-hidden="true"></i>
                    </div>
                </div>
<!--                https://stackoverflow.com/questions/46921823/dynamic-choices-wtforms-flask-selectfield-->
                {{ form.category(class="form-control", type="form-category", id="category",
                placeholder="Choice category") }}
                {% for error in form.category.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
                {% endfor %}
            </div>
        </div>

        <div class="form-group">
            <label class="sr-only">{{ form.is_published.label }}</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-clipboard" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="input-group-text">
                    &nbsp;&nbsp;&nbsp;&nbsp; {{ form.is_published() }}<br>
                </div>
            </div>
        </div>


        <div class="form-group ">
            {{ form.submit(type="submit", class="btn btn-primary btn-block btn-lg login-button") }}
        </div>
    </form>
    {% endif %}
</div>

{% endblock %}
